.buttons {
  border-radius: 22.5px;
  background-color: #ffffff;
  cursor: pointer;
}

.button-text {
  height: 45px;
  border: solid 2px #f26002;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
}

.btn-back-light {
  color: #f26002;
  -webkit-transition: background-color ease 0.5s, color ease 0.5s;
  transition: background-color ease 0.5s, color ease 0.5s;
}

.btn-back-light:hover {
  background-color: #f26002;
  color: #ffffff;
}

.btn-back-color {
  background: #f26002;
  color: #ffffff;
  -webkit-transition: background-color ease 0.5s, color ease 0.5s;
  transition: background-color ease 0.5s, color ease 0.5s;
}

.btn-back-color:hover {
  background-color: #ffffff;
  color: #f26002;
}

.nav__button {
  height: 44px;
  width: 44px;
  border: none;
  cursor: pointer;
}

.button-scroll {
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-position: center center;
}

.scroll--down {
  background-image: url("../images/ico-scroll-down.svg");
  -o-object-fit: contain;
  object-fit: contain;
  border: none;
  -webkit-transition: background-color ease 0.5s, background-image ease 0.5s;
  transition: background-color ease 0.5s, background-image ease 0.5s;
  z-index: 2;
}

.scroll--down:hover {
  background-image: url("../images/ico-scroll-down-white.svg");
  background-color: #f26002;
}

.scroll--up {
  background-image: url("../images/ico-arrow.svg");
  border: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color ease 0.5s, background-image ease 0.5s;
  transition: background-color ease 0.5s, background-image ease 0.5s;
}

.scroll--up:hover {
  background-image: url("../images/ico-arrow-white.svg");
  background-color: #f26002;
}

.scroll--up-link {
  z-index: 8;
  position: absolute;
  top: -25px;
}

body {
  font: 18px "Roboto", sans-serif;
  line-height: 30px;
  color: #000000;
}

.title-font {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 24px;
}

.navigator__open-button {
  background-image: url("../images/ico-menu.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0271bc;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: background-color ease 0.5s;
  transition: background-color ease 0.5s;
}

.navigator__open-button:hover {
  background-color: #f26002;
}

.block__hero {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.block__hero .hero-inside {
  text-align: center;
  margin: 0 15px 50px;
  max-width: 430px;
}

.hero__title {
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
}

.hero__text {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
}

.block__tips .container-inside {
  text-align: left;
}

.section-category {
  font-size: 14px;
  color: #8ccbea;
}

.tips-title {
  margin: 15px 0;
}

.tips-text {
  color: #4a4a4a;
  margin-bottom: 30px;
  line-height: 30px;
}

.go-button {
  width: 76px;
}

.block-reasons {
  background: #eff9ff;
  position: relative;
  z-index: 0;
}

.block-reasons .container-inside {
  margin: 30px 15px 60px;
}

.reasons-list {
  list-style: none;
  padding-left: 0;
  margin-top: 45px;
  line-height: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.more-button {
  width: 184px;
}

.navigator__close-button {
  position: absolute;
  left: 100%;
  background-image: url("../images/ico-close.svg");
  background-color: #f26002;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
  z-index: 2;
  display: none;
}

.navigator__close-button:hover {
  background-color: #0271bc;
}

.page__menu-visible .navigator__close-button {
  display: block;
}

.page__menu-visible::after {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.navigation-bar {
  position: fixed;
  width: 320px;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
  z-index: 10;
}

.page__menu-visible .navigation-bar {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform ease 0.8s;
  transition: -webkit-transform ease 0.8s;
  transition: transform ease 0.8s;
  transition: transform ease 0.8s, -webkit-transform ease 0.8s;
}

.menu {
  min-height: 100vh;
  background-color: #ffffff;
  opacity: 0.96;
}

.items {
  list-style: none;
  padding-left: 0;
  padding-top: 45px;
}

.menu__item {
  display: block;
  border-top: 1px solid rgba(140, 203, 234, 0.3);
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 15px;
  -webkit-transition: background-color ease 0.7s, color ease 0.3s, font-weight ease 0.3s;
  transition: background-color ease 0.7s, color ease 0.3s, font-weight ease 0.3s;
}

.menu__item:hover {
  background-color: #f26002;
}

.menu__item:hover .item-link {
  color: #ffffff;
  font-weight: 400;
}

.menu__item:last-child {
  border-bottom: 1px solid rgba(140, 203, 234, 0.3);
}

.item-link {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #304268;
}

.footer {
  position: relative;
  min-height: 20vh;
  background: #304268;
  z-index: 9000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.heart {
  color: #f26002;
}

.footer .container-footer {
  margin-top: 45px;
}

.footer-text {
  font-size: 14px;
  color: #ffffff;
  line-height: 30px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.center {
  text-align: center;
}

.block {
  overflow: auto;
}

.container-inside {
  text-align: center;
  margin: 30px 15px 45px;
}

.block-text {
  margin-bottom: 45px;
}

@media all and (min-width: 768px) {
  body {
    font: 20px "Roboto", sans-serif;
  }

  .title-font {
    font-size: 26px;
  }

  .block__hero .hero-inside {
    margin: 0 39px 30px;
    max-width: 820px;
  }

  .hero__title {
    font-size: 80px;
    line-height: 106px;
  }

  .hero__text {
    margin-top: 20px;
    font-size: 24px;
  }

  .block__tips {
    min-height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .go-button {
    width: 91px;
  }

  .block-reasons {
    min-height: 60vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .block-reasons .container-inside {
    margin: 30px 41px 60px 39px;
    max-width: initial;
  }

  .reasons-list {
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .list-title {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .more-button {
    width: 210px;
  }

  .block-reasons .block-text {
    margin-bottom: 60px;
  }

  .container-inside {
    margin: 30px 39px 60px;
  }

  .block-text {
    margin-bottom: 30px;
  }
}

@media all and (min-width: 1200px) {
  .title-font {
    font-size: 32px;
  }

  .block__hero .hero-inside {
    margin: 0 275px 30px;
    width: 730px;
  }

  .hero__title {
    font-size: 100px;
    line-height: 132px;
  }

  .hero__text {
    margin-top: 30px;
  }

  .section-category {
    font-size: 16px;
  }

  .go-button {
    width: 160px;
  }

  .block-reasons .container-inside {
    margin: 60px 85px;
  }

  .more-button {
    width: 255px;
  }

  .container-inside {
    margin: 30px 275px;
    max-width: 730px;
  }
}

/*# sourceMappingURL=main.css.map */
