.buttons{
	border-radius: 22.5px;
	background-color: $colorWhite;
	cursor: pointer;
}
.button-text{
	height: 80px;
	border: solid 2px black;
	font-size: 20px;
	@include robotoMedium;
	text-align: center;
}
.btn-back-light{
	color: $colorOrange;
	transition: background-color ease 0.5s, color ease 0.5s;
	&:hover{
		background-color: $colorOrange;
		color: $colorWhite;
	}
}
.btn-back-color{
	background: $colorOrange;
	color: $colorWhite;
	transition: background-color ease 0.5s, color ease 0.5s;
	&:hover{
		background-color: $colorWhite;
		color: $colorOrange;
	}
}
.nav__button{
	height: 44px;
	width: 44px;
	border: none;
	cursor: pointer;
}
.button-scroll{
	height: 45px;
	width: 45px;
	@include background;
}
.scroll--down{
	background-image: url("../images/ico-scroll-down.svg");
	object-fit: contain;
	border: none;
	transition: background-color ease 0.5s, background-image ease 0.5s;
	z-index: 2;
	&:hover{
		background-image: url("../images/ico-scroll-down-white.svg");
		background-color: $colorOrange;
	}
}
.scroll--up{
	background-image: url("../images/ico-arrow.svg");
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	transition: background-color ease 0.5s, background-image ease 0.5s;
	&:hover{
		background-image: url("../images/ico-arrow-white.svg");
		background-color: $colorOrange;
	}
}
.scroll--up-link{
	z-index: 8;
	position: absolute;
	top: -25px;
}
