@mixin robotoMedium() {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

@mixin robotoSlabBold() {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}
@mixin robotoLight() {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
@mixin background() {
	background-repeat: no-repeat;
	background-position: center center;
}
