.buttons{
	border-radius: 22.5px;
	background: $colorWhite;
	cursor: pointer;
}
.button-text{
	height: 45px;
	border: solid 2px $colorOrange;
	font-size: 20px;
	@include robotoMedium;
	text-align: center;
}
.nav__button{
	height: 44px;
	width: 44px;
	border: none;
	cursor: pointer;
}
.button-scroll{
	height: 45px;
	width: 45px;
	@include background;
}
.scroll--down{
	background-image: url("../images/ico-scroll-down.svg");
	object-fit: contain;
	border: none;
	transition: width ease 0.3s;
	transition: border-radius ease-in 0.7s;
	z-index: 2;
	&:hover{
		border-radius: 15px;
	}
}
.container__button-scroll{
	position: relative;
	z-index: 8;
	display: flex;
	justify-content: center;
}
.scroll--up{
	background-image: url("../images/ico-arrow.svg");
	border: none;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	position: absolute;
	top: -25px;
}
