.buttons{
	border-radius: 22.5px;
	background: $colorWhite;
}
.button-text{
	height: 45px;
	border: solid 2px $colorOrange;
	font-size: 20px;
	@include robotoMedium;
	text-align: center;
}
.nav__button{
	height: 44px;
	width: 44px;
	border: none;
}
.button-scroll{
	height: 45px;
	width: 45px;
}
.scroll--down{
	background-image: url("../images/ico-scroll-down.svg");
	@include background;
	object-fit: contain;
	border: none;
}
.scroll--up{

}
