.navigator__open-button{
	background-image: url("../images/ico-menu.svg");
	@include background;
	background-color: $colorBlue;
	position: absolute;
	left: 0;
	top: 0;
}
.block__hero{
	min-height: 100vh;
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	background-image: url("../images/cover.jpg");
	@include background;
	background-size: cover;
}
.block__hero .hero-inside{
	margin: 280px 15px 50px;
}
.hero__title{
	text-transform: uppercase;
	width: 290px;
  height: 110px;
  color: $colorWhite;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	@include robotoSlabBold;
	font-size: 42px;
	line-height: 55px;
}
.hero__text{
	margin-top: 10px;
	width: 290px;
  height: 21px;
  color: $colorWhite;
}
