.block__tips .container-inside{
	text-align: left;
}
.section-category{
	font-size: 14px;
	color: $colorLightBlue;
}
.tips-title{
	margin: 15px 0;
}
.tips-text{
	color: $colorDarkGrey;
	margin-bottom: 30px;
}
.go-button{
	color: $colorOrange;
	width: 76px;
}
