@media all and (min-width: 768px){
.block__tips{
	min-height: 40vh;
	@include flexColumnCenter;
}
}
.block__tips .container-inside{
	text-align: left;
}
.section-category{
	font-size: 14px;
	color: $colorLightBlue;
	@media all and (min-width: 1200px){
		font-size: 16px;
	}
}
.tips-title{
	margin: 15px 0;
}
.tips-text{
	color: $colorDarkGrey;
	margin-bottom: 30px;
	line-height: 30px;
}
.go-button{
	color: $colorOrange;
	width: 76px;
	@media all and (min-width: 768px){
		width: 91px;
	}
	@media all and (min-width: 1200px){
		width: 160px;
	}
}
